.App {
  text-align: center;
}

.normal-box{
  border-radius: 8px;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.Overlay {
  backdrop-filter: blur(2px); /* Adjust the blur radius as needed */
  background-color: rgba(0, 0, 0, 0.8); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity:1;
  /* background-color: black; */
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	/* margin: 0 auto; */
  padding: 5px 2rem;
  /* border-radius: 0.2rem; */
  background-color: rgb(255, 255, 255);
  border: none;
  /* width: 90%; */
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  color: rgb(240, 241, 241);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}